// Place all the styles related to the Readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
    font-family: 'Courier New', Courier, Helvetica;
}

.index-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center space-evenly;
}

.btn-z {
    color: #fff !important;
    width: 30%;
}

.btn-destroy {
    color: black !important;
    background-color:crimson !important;
    border: solid black 2px;
}

.btn-destroy:hover {
    color: red !important;
    background-color:rgb(63, 63, 63) !important;
}

img {
    margin:2%;
    margin-top:5%;  
}

